@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    position: relative;

    /* h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
      color: black;
      font-weight: 800;
      letter-spacing: -0.05em;
    } */

    h1,
    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    h3,
    h4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: -0.5rem;
      margin-top: 0px;
      padding-top: 0.5rem;
    }

    figure {
      margin-bottom: 1rem;
      img {
        margin-bottom: 15px;
      }
      figcaption {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
        color: #000;
        opacity: 0.5;
        display: block;
      }
    }

    blockquote {
      margin: 50px auto;
      color: black;
      font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
      font-style: italic;

      p {
        max-width: 880px;
        width: 100%;
        margin: 16px auto;
        line-height: 1.32;
        font-weight: bold;
      }
    }

    img {
      display: inline-block;
      position: relative;
      max-width: 100%;
      height: auto;
      z-index: 0;
      border-radius: 5px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-top: 1px solid #dfe3e8;
    }
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      color: #000;
    }
    th {
      text-transform: uppercase;
      font-weight: 600;
    }
    tr {
      &:hover {
        background-color: #f4f6f8;
      }
    }
    td {
      padding: 10px 8px;
      border-bottom: 1px solid #dfe3e8;
      vertical-align: top;
      white-space: nowrap;
    }
    hr {
      width: 250px;
      height: 1px;
      margin: 30px auto;
      opacity: 0.33;
    }
    hr {
      position: relative;
      width: 100%;
      margin: 25px auto 60px;
      border: 0;
      height: 14.36px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.432617' y='13.8564' width='16' height='1' transform='rotate(-60 0.432617 13.8564)' fill='%2350525B'/%3E%3C/svg%3E%0A");
      background-repeat: repeat-x;
      box-sizing: border-box;
    }
  }
}
