@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose {
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: ui-serif, New York, Georgia, Cambria, "Times New Roman",
        Times, serif;
      color: black;
      font-weight: 600;

      @media screen and (min-width: 540px) {
        padding: 0 4rem 0 6rem;
      }
    }

    .toc {
      margin-left: 2rem;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

      ol {
        columns: 1;
        padding: 0;
      }
    }

    h1 {
      margin-top: 2rem;
      font-size: 2rem;
    }

    h2,
    h3,
    h4 {
      margin-top: 1rem;

      a::after {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }
    }

    p {
      margin: 2rem auto 2rem auto;

      @media screen and (min-width: 540px) {
        margin: 0 4rem 4rem 6rem;
      }
    }

    ul,
    ol {
      columns: 2;

      li {
        margin-top: 0;
        margin-right: 1rem;
      }

      @media screen and (min-width: 540px) {
        padding-left: 7rem;
        padding-right: 1rem;
      }

      * > ol,
      * > ul {
        padding-left: 1rem;
        padding-right: 0;
      }

      p {
        padding: 0;
        margin: 0;
      }
    }

    blockquote {
      border: none;

      margin-left: 2rem;
      margin-right: 4rem;

      @media screen and (min-width: 540px) {
        margin-left: -6rem;
      }
      font-family: ui-serif, New York, Georgia, Cambria, "Times New Roman",
        Times, serif;
      /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
      color: #08080b;
      font-weight: 500;
      font-size: 2rem;
      font-style: italic;
      line-height: 1.25;

      ::before {
        content: none;
      }
    }

    pre {
      font-size: 2rem;
      wrap-text: word;
    }

    ul {
      list-style-type: square;
    }

    ol {
      margin-left: 1rem;
    }

    hr {
      @media screen and (min-width: 540px) {
        margin: 4rem 4rem 4rem 6rem;
      }
      position: relative;
      height: 1rem;
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.567383' y='14.1777' width='16' height='1' transform='rotate(-60 0.567383 14.1777)' fill='%232D2E33'/%3E%3C/svg%3E");
      background-repeat: repeat-x;
    }
  }
}
